.todoSideBar {
  display: grid;
  align-content: start;
  gap: 1rem 0;
  border-right: 4px double var(--color600);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  overflow-y: auto;
  min-width: 7em;
}

@media only screen and (max-width: 750px) {
  .todoSideBar {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    overflow: unset;
    border-right: none;
    border-bottom: 4px double var(--color600);
  }
}

.todoCategory {
  cursor: pointer;
  border: 1px solid #111;
  margin-bottom: 0.3rem;
  padding: 0.3rem 0.2rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
}

/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  /*color: #41403e;*/
  color: var(--color900);
  cursor: pointer;
  display: inline-block;
  font-family: Handlee, Neucha, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.todoCategory0 {
  background-color: var(--color400);
}

.todoCategory1 {
  background-color: var(--color500);
}

.todoCategory2 {
  background-color: var(--color600);
}

.selectedCat {
  background-color: rgba(200, 0, 0, 0.5);
}
